$base-color: #86c0f7;
$accent1-color: #bd86f7;
$accent2-color: #f786c0;
$accent3-color: #f7bd86;
$accent4-color: #c0f786;
$accent5-color: #86f7bd;


body, header, article, section, footer, div,
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  border: none;
}

.global-header{
  margin: 0 auto;
  padding: 20px;
  width: 800px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: $base-color;
}

.main{
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  width: 800px;
  border: 1px solid #000;
}

.global-footer{
  margin-top: 30px;
  background: #000;
  color: #fff;
  text-align: center;
}


