.list-title{
  font-size: middle;
}

.post-body{
  font-size: small;
}


.post-title{
  border-bottom: 1px solid #000;
  color: #999;
}

.post-body{
  padding-top: 20px;
  padding-bottom: 40px;
}

.aside-title{
  font-size: small;
  border-bottom: 1px solid #000;
  padding-top: n0px;
}


